{
    email qq1782536964@live.com
}
https://coolrc.top/api/* {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
	file_server
	reverse_proxy /api/* blog:8080
}

https://coolrc.top {
    tls {
            dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
	file_server
	root /* /srv/blog
	try_files {path} /index.html
}

https://coolrc.top/admin* {
    tls {
            dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
	file_server
	root /* /srv
	try_files {path} /admin/index.html
}

https://coolrc.top/static/* {
    tls {
            dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
	file_server
	root /* /srv
}
