.post-tag a{
    color: #42b983;
    margin-right: 1em;
}

.post-tag a::before{
    content: "#";
    color: #42b983;
}


.post {
	padding-top:1em
}
.post-block .post-title {
	margin:0.65em 0;
	color:#2c3e50;
	font-size:1.5em
}
.post-block .post-info {
	color:#7f8c8d;
	margin:1.2em 0
}
.post-block .post-info span {
	margin-left:0.5rem
}
.post-block .post-info a.post-from {
	margin-left:0.5rem;
	padding:3px 6px;
	border-radius:5px;
	font-size:12px;
	color:white;
	background-color:#E36B6B
}
.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6 {
	position:relative;
	margin:1em 0
}
.post-content h2:before,.post-content h3:before,.post-content h4:before,.post-content h5:before,.post-content h6:before {
	content:"#";
	color:#42b983;
	position:absolute;
	left:-0.7em;
	top:-4px;
	font-size:1.2em;
	font-weight:bold
}
.post-content h4:before,.post-content h5:before,.post-content h6:before {
	content:""
}
.post-content h2,.post-content h3 {
	font-size:22px
}
.post-content h4,.post-content h5,.post-content h6 {
	font-size:18px
}
.post-content a {
	position:relative;
	color:#42b983;
	word-break:break-all
}
.post-content a:before {
	content:"";
	position:absolute;
	width:100%;
	height:1px;
	bottom:0;
	left:0;
	background-color:#42b983;
	visibility:hidden;
	transform:scaleX(0);
	transition:0.4s
}
.post-content a:hover:before {
	visibility:visible;
	transform:scaleX(1)
}
.post-content blockquote {
	margin:2em 0;
	padding-left:20px;
	border-left:4px solid #42b983
}
.post-content img {
	display:block;
	max-width:100%;
	margin:1em auto
}
.post-content .tip {
	position:relative;
	margin:2em 0;
	padding:12px 24px 12px 30px;
	border-left:4px solid #f66;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	background-color:#f8f8f8
}
.post-content .tip br {
	display:none
}
.post-content .tip:before {
	position:absolute;
	top:14px;
	left:-12px;
	content:"!";
	width:20px;
	height:20px;
	border-radius:100%;
	color:#fff;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	background-color:#f66;
	font-family:'Dosis','Source Sans Pro','Helvetica Neue',Arial,sans-serif
}
#mask {
	position:fixed;
	overflow:scroll;
	width:100%;
	height:100%;
	padding:1em 0;
	background-color:rgba(0,0,0,0.5);
	z-index:10
}
#mask #mask-image {
	max-width:95%
}
pre {
	width: 100%;
}
code {
	font-size:0.8em;
	line-height: 1.5em;
	font-family:"Roboto Mono",Monaco,courier,monospace;
}

code:after {
	position:absolute;
	top:0;
	right:0;
	color:#ccc;
	text-align:right;
	font-size:0.75em;
	padding:5px 10px 0;
	line-height:15px;
	height:15px;
	font-weight:600;
}


.language-html:after {
	content:"HTML"
}
.language-js:after {
	content:"JS"
}
.language-bash:after {
	content:"BASH"
}
.language-css:after {
	content:"CSS"
}
.language-scss:after {
	content:"SCSS"
}
.language-diff:after {
	content:"DIFF"
}
.language-java:after {
	content:"JAVA"
}
.language-xml:after {
	content:"XML"
}
.language-python:after {
	content:"PYTHON"
}
.language-json:after {
	content:"JSON"
}
.language-swift:after {
	content:"SWIFT"
}
.language-ruby:after {
	content:"RUBY"
}
.language-perl:after {
	content:"PERL"
}
.language-php:after {
	content:"PHP"
}
.language-c:after {
	content:"C"
}
.language-java:after {
	content:"JAVA"
}
.language-cpp:after {
	content:"CPP"
}
.language-ts:after {
	content:"TS"
}
.language-cpp:after {
	content:'C++'
}


.hljs {
	position:relative;
	margin:1em 0;
	border-radius:2px;
	background-color:#f8f8f8;
	overflow-x:auto;
	display:block;
	overflow-x:auto;
	padding:.5em;
	background:#f0f0f0;
	padding:1.2em 1.4em;
}
.hljs,.hljs-subst {
	color:#525252
}
.hljs-comment {
	color:#b3b3b3
}
.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta-keyword,.hljs-name,.hljs-selector-tag {
	font-weight:600;
	color:#0092db
}
.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type {
	color: #42b983;
}
.hljs-deletion{
	color: #BA4545;
}
.hljs-section,.hljs-title {
	color:#83B917
}
.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable {
	color:#42b983
}
.hljs-literal {
	color:#ae81ff
}
.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code {
	color:#83B917
}
.hljs-meta {
	color:#1f7199
}
.hljs-meta-string {
	color:#4d99bf
}
.hljs-emphasis {
	font-style:italic
}
.hljs-strong {
	font-weight:700
}

#pagination {
	margin:4em 0;
	padding-left:0.6rem;
	padding-right:0.6rem;
	margin-top:0;
	margin-bottom:0;
	text-align:center
}
#pagination .prev,#pagination .next,#pagination .page-number,#pagination .space {
	display:inline-block;
	margin:0.2rem;
	padding:4px 12px;
	border-radius:4px;
	border-bottom:4px solid #3aa373;
	font-size:14px;
	color:#fff;
	background-color:#4fc08d
}
#pagination .prev:hover,#pagination .next:hover,#pagination .page-number:hover,#pagination .space:hover {
	background-color:#22bd77
}
.ds-thread,#disqus_thread {
	margin-bottom:2em
}